# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/

# venv directories (Windows)
Lib/
Scripts/
Include/
pyvenv.cfg

# Django
*.log
*.sqlite3
local_settings.py
*.env
.env

# Media uploads
ENTERTAINMENT/media/

# IDEs
.vscode/
.idea/
.qodo/
